html {
  width: 100%;
  height: 100%;
}

.index-section {
  background-color: #f8f8f8;
}

.index,
.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-plus,
.fa-times {
  font-size: 1.4rem;
  cursor: pointer;
}

.fa-plus {
  color: green;
}

.fa-times {
  color: red;
}

.btn {
  font-size: 16px;
  padding: 6px 12px;
  margin-bottom: 0;

  background-color: #eeeeee;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
  /*outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn:active {
  /*background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);*/
}

.btn-success {
  color: #ffffff;
  background: none;
  font-weight: bold;
  letter-spacing: 0.05em;
  position: absolute;
  margin-top: 24%;
  padding: 10px 30px 10px 30px;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active {
  background: #f1f3f4;
  color: #174ea6;
  border-color: #f1f3f4;
}

.btn-proceed {
  color: #ffffff;
  background: none;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 48%;
  position: absolute;
  padding: 10px 30px 10px 30px;
}

.btn-proceed:hover,
.btn-proceed:active,
.btn-proceed:focus,
.btn-proceed.active {
  background: #f1f3f4;
  color: #174ea6;
  border-color: #f1f3f4;
}
